body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    margin: 0;
    background-color: var(--clr1);
}

body.rtl {
    direction: rtl;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

button:hover {
    cursor: pointer;
}

a {
    position: relative;
    color: var(--clr2);
    text-decoration: none;
    border-radius: 8px;
}