/* flex helpers */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* grid helpers */
.grid {
    display: grid;
}

.full-grid{
    grid-column: 1 / -1;
}

/* display helpers */
.block {
    display: block;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

.not-working{
    background-color: red;
}