/* mobile-menu */

@media (max-width: 500px) {
    .main-layout {
        width: 100vw;
        grid-template-rows: 50px 1fr;
    }
    .logo {
        font-size: 1rem;
        margin-inline-start: .5rem;
        width: 80px;
    }
    .main-header {
        height: 100%;
        margin-block-end: 0;
        font-size: .8rem;
        width: 100vw;
    }
    .main-footer {
        height: 70px;
    }
    .editor {
        grid-template-columns: none;
        /* grid-template-rows: ; */
        width: auto;
        height: 100%;
        background-color: var(--clr1);
        border: 0;
    }
    .editor > * {
        margin-inline: auto;
    }
    .editor > *:first-child{
        height: 300px;
        width: 300px;
        margin-block-start: auto;
    }
    .editor > *:nth-child(2) {
        height: 350px;
        width: 300px;
    }
    .main-menu > * {
        width: 5rem;
    }
    .btn-nav-hover {
        font-size:1rem;
    }
    .btn-nav:hover {
        font-size:1rem;
    }
    .control-box {
        gap: 0.5em;
    }
}

@media (min-width: 500px) {
    .main-layout {
        width: 100vw;
    }
    .main-header {
        height: 100%;
        margin-block-end: 0;
        font-size: .8rem;
        width: 100vw;
    }
    .logo {
        font-size: 1rem;
        margin-inline-start: .5rem;
        width: 80px;
    }
    .editor {
        grid-template-columns: none;
        height: 100%;
        background-color: var(--clr1);
        border: 0;
        width: 100vw;
    }
    .editor > * {
        margin-inline: auto;
    }
    .editor > *:first-child{
        height: 350px;
        width: 350px;
        margin-block-start: auto;
    }
    .editor > *:nth-child(2) {
        height: 350px;
        width: 350px;
    }
    
}

@media (min-width: 820px) {
    .logo {
        font-size: 2.5rem;
        margin-inline-start: 1rem;
        width: auto;
    }
    .editor {
        grid-template-columns: 500px 300px;
        width: 800px;
    }
    .editor > * {
        margin-inline: auto;
        margin-block: auto;
    }
    .editor > *:first-child{
        width: 500px;
        height: 500px;
    }
    .editor > *:nth-child(2) {
        width: 300px;
        height: 500px;
    }
    .sticker-container > * {
        font-size: 2em;
    }
}


/* @media (min-width: 1020px) {
    .editor {
        grid-template-columns: 600px 400px;
        width: 1000px;
    }
    .editor > * {
        margin-inline: auto;
        margin-block: auto;
    }
    .editor > *:first-child{
        width: 600px;
        height: 600px;
    }
    .editor > *:nth-child(2) {
        height: 600px;
        width: 400px;
    }
} */