:root1 {
    --clr3: #222831;
    --clr2: #393E46;
    --clr1: #F2921D;
    --clr0: #00ADB5;
    --clr-1: #EEEEEE;
    --clr-2: #FFFFFF;
}

:root {
    --clr3: #393E46;
    --clr2: #222222;
    --clr1: #BBCDE5;
    --clr0: #1C5D99;
    --clr-1: #EEEEEE;
    --clr-2: #FFFFFF;
}