
* {
    box-sizing: border-box;
}

.editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;


    height: 500px;
    width: 1000px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}

.editor > * {
    height: 94%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}