
* {
    box-sizing: border-box;
}

.editor {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;

    height: 500px;
    width: 100%;
    background-color: var(--clr-1);
    border: 5px solid var(--clr2);

    margin: auto 0 auto;
}

.editor > * {
    height: 95%;
    border: 3px solid var(--clr2);
    margin: 10px;
}
