* {
    box-sizing: border-box;
}

.editor {
    grid-template-columns: 6fr 4fr;
    height: 720px;
    width: 1200px;
    gap: 10px;
    margin-inline: auto;
}

.editor > * {
    box-shadow: -5px 4px 5px 0px;
    height: 720px;
}

.editor > *:first-child {
    max-width: 60vw;
}

.editor > *:nth-child(2) {
    max-width: 40vw;
}
