.gallery {
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin: 10px;
}

.img-gallery {
    width: 100%;
    transition: 0.1s;
}

.img-gallery:hover {
    border: 10px solid var(--clr0);
}