.logo {
    color: var(--clr2);
    font-family: anton, monospace;
    font-size: 2.5rem;
    text-transform: lowercase;
    margin-inline-start: 1rem;
}
.logo:hover {
    cursor: pointer;
}

.logo::after{
    content: '.';
    color: var(--clr1);
}