.logo {
    color: var(--clr2);
    font-family: anton, Impact;
    /* font-size: 2.5rem; */
    text-transform: lowercase;
    /* margin-inline-start: 1rem; */
}
.logo:hover {
    cursor: pointer;
}

.logo::after{
    content: '.';
    color: var(--clr1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}